@font-face {
    font-family: 'Muller Regular';
    font-style: normal;
    font-weight: 100;
    src:
            url(./FONTS/Muller\ Regular/MullerRegular.woff2) format(woff2),
            url(./FONTS/Muller\ Regular/MullerRegular.woff) format(woff);
}
@font-face {
    font-family: 'Muller Bold';
    font-style: bold;
    font-weight: 800;
    src: 
            url(./FONTS/Muller\ Bold/MullerBold.woff2) format(woff2),
            url(./FONTS/Muller\ Bold/MullerBold.woff) format(woff);
}
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Russo One', sans-serif;
}
.first-screen{
    height: 800px;
    background-image: url(https://i.postimg.cc/9FR7FPbd/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.image__firstSection{
    position: absolute;
    bottom: 0;
    background: transparent;
    right: 5vw;
    height: 600px;
    z-index: 1;
}
body section header{
    width: 1150px;
    height: 100px;
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    height: 100px;
    display: flex;
    color: #46b1de;
    font-size: 24px;
    font-weight: 100;
    padding-top: 10px;
}
.nav_menu{
    height: 100px;
    display: grid;
    word-spacing: 60px;
    padding-top: 70px;
    grid: repeat(1, auto) / auto-flow auto ; 
    gap: 50px;
}
header a{
    text-decoration: none;
    color: black;
    text-align: center;
    word-spacing: 40px;
    font-family: 'Muller Regular', sans-serif;
}
.contacts{
    height: 100px;
    display: flex;
    padding-top: 70px;
    justify-content: end;
}
.contacts__headtxt{
    display: inline-block;
    margin-left: 10px;
}
.body{
    width: 1150px;
    margin: 0 auto 0;
}
.title{
    width: 440px;
    padding-top: 150px;
}
.title__description{
    font-family: 'Muller Regular', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}
.buttons{
    padding-top: 50px;
    display: flex;
    width: 440px;
}
.button__call{
    height: 50px;
    width: 110px;
    background-color: #46b1de;
    display: inline-block;
    margin-left: 20px;
    border: solid;
    border-color: black;
    display: flex;
    justify-content: center;
}
.button__services{
    height: 50px;
    width: 110px;
    background-color: white;
    display: inline-block;
    margin-left: 120px;
    border: solid;
    border-color: black;
    display: flex;
    justify-content: center;
}
.button__call a{
    text-decoration: none;
    font-family: 'Muller Regular', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 1em;
    font-size: 16px;
}
.button__services a{
    text-decoration: none;
    font-family: 'Muller Regular', sans-serif;
    color: #46b1de;
    text-transform: uppercase;
    padding-top: 1em;
    font-size: 16px;
}
.bottom{
    margin-top: 220px;
    height: 80px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid: repeat(1, auto) / auto-flow auto;
    gap: 50px;
}
.bottom__card{
    display: flex;
    height: 100%;
    width: 250px;
    margin: 0 20px;
    background-color: white;
    border: solid;
    z-index: 2;
}
.num__big{
    font-family: 'Muller Bold', sans-serif;
    color: #46b1de;
    font-size: 65px;
    padding: 15px 10px 10px;
    display: flex;
    align-items: center;
}
.num__small{
    font-family: 'Muller Regular', sans-serif;
    font-size: 12px;
    padding: 10px 5px;
    display: flex;
    align-items: center;
}
.second-screen__txt{
    margin-top: 150px;
}
.second-screen__txt h2{
    text-transform: uppercase; 
    font-size: 34px; 
    line-height: 40px; 
    text-align: center;
}
.second-screen__txt p{
    font-family: 'Muller Regular', sans-serif;
    text-align: center;
    font-size: 16px;
}
.cards{
    margin: 50px auto;
    max-width: 1200px;
    width: auto;
    height: auto;
    background-color: rgb(154, 203, 221);
    border-radius: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cards__blockS{
    height: 400px;
    width: 350px;
    margin: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cards__block{
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 3%;
    padding: 10px 20px;
    margin: 5px;
}
.cards__blockup{
    height: 70px;
    display: flex;
}
.cards__num__big{
    font-family: 'Muller Bold', sans-serif;
    color: #46b1de;
    text-transform: uppercase;
    font-size: 48px;
    width: 70px;
    height: 50px;
    margin-right: 5px;
    display: grid;
    align-items: center;
}
.cards__num__small{
    padding: auto 5px 5px 20px;
    width: 220px;
    height: 50px;
    font-family: 'Muller Bold', sans-serif;
    color: #46b1de;
    font-size: 18px;
    text-transform: uppercase;
    display: grid;
    align-items: center;
}
.cards__blockdown{
    height: 130px;
}
.cards__blockdown p{
    font-family: 'Muller Regular', sans-serif;
    font-size: 16px;
}
footer{
    margin-top: 150px;
    padding: 0 20px;
    height: 600px;
    width: auto;
    background-image: linear-gradient(to right, rgb(160, 199, 212), rgb(11, 130, 171));
    display: flex;
}
.footer__info{
    height: 600px;
    width: 61%;
}
.footer__contacts{
    height: 600px;
    width: 39%;
    color: white;
    padding-top: 80px;
    line-height: 55px;
}
.footer__logo{
    margin-top: 40px;
    height: 140px;
    display: flex;
}
.footer__logo p{
    white-space: break-spaces;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-weight: 500;
    font-size: 36px;
    color: rgb(19, 42, 88);
}
.footer__about{
    height: 220px;
    display: flex;
}
.about__nav{
    height: 420px;
    width: 33%;
    color: rgb(19, 42, 88);
    font-size: 18px;
    word-spacing: 10px;
}
.about__nav a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: rgb(19, 42, 88);
}
.about__hours{
    height: 420px;
    width: 66%;
}
.about__hours p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(19, 42, 88);
}
.footer__copyright{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: end;
    padding-right: 20%;
}
.footer__contacts div a{
    display: flex;
    align-items: center;
}
.footer__contacts a{
    text-decoration: none;
    color: white;
}
.footer__contacts a span{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20px;
}